<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<context:component-scan base-package="com.finals">
	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
    	<bean id="masterdataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
            <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
            <property name="url" value="jdbc:mysql://127.0.0.1:3306/final" />  
            <property name="username" value="root" />  
            <property name="password" value="root1234" />  
        </bean>  
      
        <bean id="slavedataSource"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
            <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
            <property name="url" value="jdbc:mysql://127.0.0.1:3306/final" />  
            <property name="username" value="root" />  
            <property name="password" value="root1234" />  
        </bean>  
          
        <bean id="dataSource" class="com.finals.common.db.DynamicDataSource">  
            <property name="targetDataSources">    
                  <map key-type="java.lang.String">    
                      <!-- write -->  
                     <entry key="master" value-ref="masterdataSource"/>    
                     <!-- read -->  
                     <entry key="slaver" value-ref="slavedataSource"/>    
                  </map>    
            </property>    
            <property name="defaultTargetDataSource" ref="masterdataSource"/>    
        </bean>  
      
        <bean id="transactionManager"  
            class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
            <property name="dataSource" ref="dataSource" />  
        </bean>  
      
        <!-- 配置SqlSessionFactoryBean -->  
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
            <property name="dataSource" ref="dataSource" />  
            <property name="configLocation" value="classpath:mybatis-config.xml" />  
        </bean>  
        
        <!-- 自动扫描所有Mapper接口，对应的.xml要和接口在同一个包里，名称也要相同 -->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="basePackage" value="com.finals.*.mapper" />
		</bean>
		
		<aop:aspectj-autoproxy></aop:aspectj-autoproxy>  
  	    <bean id="manyDataSourceAspect" class="com.finals.common.db.DataSourceAspect" />  
        <aop:config>  
        	<aop:aspect id="c" ref="manyDataSourceAspect">  
            	<aop:pointcut id="tx" expression="execution(* com.finals.*.mapper.*.*(..))"/>  
            	<aop:before pointcut-ref="tx" method="before"/>  
        	</aop:aspect>  
        </aop:config>  
	
	<!-- 加载dubbo -->
	<import resource="classpath:dubbox-provider.xml" />
	
</beans>
