#foreach( $dic in $dics )

-- delete from yrt_sys.dic_item where type_id = (SELECT type_id from yrt_sys.dic_type where type_code = $fn.string(${dic.type.type_code}));
-- delete from yrt_sys.dic_type where type_code = $fn.string(${dic.type.type_code});

INSERT INTO `yrt_sys`.`dic_type` (`type_id`, `type_code`, `type_name`, `type_desc`, `enabled_flag`, `dead_time`, `created_code`, `created_name`, `created_dt`) 
VALUES (${dic.type.type_id}, $fn.string(${dic.type.type_code}), $fn.string(${dic.type.type_name}), $fn.string(${dic.type.type_desc}), ${dic.type.enabled_flag}, $fn.nvl(${dic.type.dead_time}), 'system_script', 'system_script', now());

#foreach( $item in $dic.items )
INSERT INTO `yrt_sys`.`dic_item` (`item_id`, `type_id`, `item_name`, `item_code`, `item_desc`, `item_pid`,`item_pcode`, `order_seq`, `enabled_flag`, `dead_time`, `created_code`, `created_name`, `created_dt`) 
VALUES (${item.item_id}, ${dic.type.type_id}, $fn.string(${item.item_name}), $fn.string(${item.item_code}), $fn.string(${item.item_desc}), $fn.nvl(${item.item_pid}), $fn.string(${item.item_pcode}), $fn.nvl(${item.order_seq}), ${item.enabled_flag}, $fn.nvl(${item.dead_time}), 'system_script', 'system_script', now());
#end

#end