package ${service_pkg}.impl;

import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import com.yims.sdk.base.BaseServiceImpl;
import ${dao_pkg_mapper}.${model}Mapper;
import ${dao_pkg_model}.${model};
import ${dao_pkg_model}.${model}Example;
import ${service_pkg}.${model}Service;

/**
 * ${model} Service实现
 * @author auto generate v${gen_version}
 * @version 1.0, ${ctime}
 */
@Service
@Transactional
public class ${model}ServiceImpl extends BaseServiceImpl<${model}Mapper, ${model}, ${model}Example> implements ${model}Service {
	
}